
.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #079FC2;
  cursor: pointer;
  transition: .3s;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  border: 0;

  &:hover {
    background-color: rgba(68, 165, 245, 0.8);
  }
}
