
.calculator {
  padding: 28px;
  background-color: #fff;
  border-radius: 5px;
}

.calculator__title {
  width: 100%;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
}

.calculator__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.calculator__polzunok {
  margin-top: 1.5rem;
  width: calc(100% - 300px);
  margin-left: 31px;
}

.calculator__cities {
  display: flex;
  flex-direction: column;
}

.calculator__filter {
  width: 100%;
}

.calculator__filter {
  display: flex;
  flex: 1;
  margin-top: 2rem;
}

select {
  width: 100%;
  border: 0;
  background-color: #F7F7F7;
  padding: 0 1rem;
  font-size: 13px;
  line-height: 15px;

  & + & {
    border-left: 1px solid rgba(0, 0, 0, .05);
  }
}

.calculator__btn {
  padding-right: 54px;
  padding-left: 54px;
}

@media (max-width: 1210px)  {
  .calculator {
    width: calc(100% - 70px);
  }

  select {
    padding: 0 .5rem;
  }
}

@media (max-width: 980px)  {
  .calculator__filter {
    flex-wrap: wrap;
  }

  select {
    width: 33.333%;
    padding: 1rem 1rem;
    margin-bottom: .5rem;
  }

  .calculator__btn {
    margin-bottom: .5rem;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .calculator {
    padding: 1rem;
    width: 100%;
  }

  .calculator__form {
    flex-direction: column;
  }

  .calculator__polzunok {
    margin: 2rem;
    width: calc(100% - 80px);
  }

  select {
    width: 50%;
  }
}
