
.container {
  max-width: 1210px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1210px)  {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 980px)  {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 768px)  {
  .container {
    max-width: 480px;
  }
}

@media (max-width: 480px)  {
  .container {
    max-width: 100%;
  }
}
