
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #74CFB7;
  transition: .3s;

  & + &::before {
    position: absolute;
    top: 50%;
    left: -1px;
    width: 2px;
    height: 11px;
    background-color: #E1E1E1;
    transform: translateY(-50%);
    content: '';
  }

  &:first-child {

    & a {
      padding-left: 0;
    }
  }

  & a {
    display: block;
    padding: 1.5rem 17px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #404853;
    transition: .3s;

    &:hover {
      text-decoration: none;
      color: #000;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, .4);
    }
  }

  &:hover {
    border-bottom: 3px solid #57af98;
  }
}

.nav__item_search {
  padding: 1.5rem 0 1.5rem 86px;

  & img {
    min-width: 14px;
  }

  &::before {
    display: none;
  }
}

@media (max-width: 980px)  {
  .nav {
    flex-wrap: wrap;
  }

  .nav__item {
    width: 25%;
    border-bottom: 1px solid #ececec;

    &:hover {
      border-bottom-width: 1px;
    }

    & + &::before {
      display: none;
    }

    &:first-child {

      & a {
        padding-left: 17px;
      }
    }

    &_search {
      padding: 1.5rem  17px;

      & img {
        margin-left: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .nav__item {
    width: 100%;

    & a {
      width: 100%;
    }
  }
}
