
.product {
  background-color: #fff;
  display: flex;

  & + & {
    margin-top: 3rem;
  }
}

.product__content {
  width: 50%;
  padding: 3rem;
}

.product__title {
  margin-bottom: 1rem;
  font-size: 24px;
  line-height: 28px;
  color: #1F252D;
}

.product__intro {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;

  & span {
    margin-left: .5rem;
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.4);
  }

  & img {
    margin-right: .5rem;
  }
}

.produst__description {
  margin-bottom: 1rem;
  font-size: 14px;
  line-height: 16px;
  color: #1F252D;
}

.product__box {
  margin-bottom: 1rem;

  & tr + tr {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  & td {
    width: 50%;
  }

  & td:first-child {
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: 1px solid rgba(0, 0, 0, .1);
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.4);
  }

  & td:last-child {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #1F252D;
  }
}

.product__bonus {
  display: flex;
  flex: 1;
}

.product__bonus-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: #079FC2;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #e4e4e4;
  }

  & img {
    margin-right: .5rem;
  }

  & + & {
    margin-left: 5px;
  }
}

.product__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-image: url(../../media/product/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.product__dop {
  margin-left: auto;
  background-color: #fff;
  padding: 1rem;
  background-color: #F0F0F0;
}

.product__dop-item {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 15px;
  color: #404853;

  & + & {
    margin-top: .5rem;
  }

  & img {
    margin-right: .5rem;
  }
}

.product__btn {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-top: auto;
  margin-bottom: 2rem;
}

.product__add {
  margin-top: 3rem;
  text-align: center;
}

.product__add-btn {
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #74CFB7;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1210px)  {
  .product__content {
    width: 50%;
    padding: 1rem;
  }
}

@media (max-width: 980px) {
  .product {
    flex-wrap: wrap;
  }

  .product__content {
    width: 100%;
  }

  .product__media {
    width: 100%;
    min-height: 500px;
  }
}

@media (max-width: 480px) {
  .product__bonus {
    flex-wrap: wrap;
  }

  .product__bonus-item {
    & + & {
      margin-left: 0;
      margin-top: .5rem;
    }
  }
}
